/* Para agregar en el archivo styles.css global */
.ng-select .ng-select-container {
  min-height: 42px !important;
  border-color: #e5e7eb !important;
  border-radius: 0.25rem !important;
}

.ng-select .ng-value-container {
  padding: 0.5rem !important;
}

.ng-select.ng-select-focused .ng-select-container {
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5) !important;
  border-color: #3b82f6 !important;
}

/* Para tener tamaños de texto consistentes */
.ng-select .ng-value,
.ng-select .ng-placeholder {
  font-size: 0.875rem !important; /* text-sm */
}

/* Para igualar la altura del dropdown con la del input */
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 8px 10px !important;
  font-size: 0.875rem !important;
}

/* Opciones para mejorar la apariencia del scroll en el dropdown */
.ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 240px !important;
}
