<div class="flex flex-col min-h-screen bg-gray-100 font-montserrat">
  <!-- Header -->
  <header class="bg-white shadow-md">
    <div class="flex items-center justify-between px-4 py-2">
      <div class="flex items-center">
        <div class="flex items-center">
          <img
            src="https://eva.istla.edu.ec/pluginfile.php/1/core_admin/logocompact/300x300/1737821353/logo%20istla.png "
            alt="Logo Instituto Los Andes" class="h-12">
        </div>
      </div>

      <div class="flex items-center">
        <div class="flex items-center mr-3">
          <div class="w-8 h-8 rounded-full bg-gray-300 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
              class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
          </div>
        </div>
        <div class="text-right mr-2">
          <p class="font-bold text-sm">{{nombreUsuario + ' ' + apellidoUsuario}}</p>
          <p class="text-xs text-gray-600">{{ObtenerNombreRol()}}</p>
          <button class="bg-rosado-oscuro text-white px-3 py-1 text-xs rounded" (click)="CerrarSesion()">CERRAR
            SESIÓN</button>
        </div>
      </div>
    </div>
  </header>

  <div class="flex flex-1">
    <!-- Sidebar izquierdo con botón en el filo y en la mitad -->
    <aside class="bg-white shadow-md relative transition-all duration-300"
      [ngClass]="{'w-56': sidebarOpen, 'w-12': !sidebarOpen}">
      <!-- Botón toggle en el borde medio -->
      <div class="absolute -right-3 top-1/2 transform -translate-y-1/2 z-10">
        <div
          class="bg-verde-claro text-white h-6 w-3 flex items-center justify-center rounded-r cursor-pointer shadow-md"
          (click)="toggleSidebar()">
          <svg *ngIf="sidebarOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" class="w-2 h-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
          <svg *ngIf="!sidebarOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" class="w-2 h-2">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </div>
      </div>

      <nav class="pt-3">
        <ul class="space-y-0.5">
          <li [ngClass]="{ 'bg-verde-claro text-white': esRutaGestionarAulas() }"
            *ngIf="usuarioService.tieneRol(['SUPERADMINISTRADOR'])">
            <a [routerLink]="['/inicio/gestionar-aulas']" class="flex items-center px-3 py-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
              </svg>
              <span *ngIf="sidebarOpen" class="ml-2 whitespace-nowrap text-xs font-bold">GESTIONAR AULAS</span>
            </a>
          </li>

          <li *ngIf="usuarioService.tieneRol(['SUPERADMINISTRADOR'])">
            <a [routerLink]="['/inicio/coordinadores']" routerLinkActive="bg-verde-claro text-white"
              [routerLinkActiveOptions]="{ exact: true }" class="flex items-center px-3 py-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M17 20h5v-2a4 4 0 00-5-3.87M9 20h5v-2a4 4 0 00-5-3.87M12 4a4 4 0 110 8 4 4 0 010-8z" />
              </svg>
              <span *ngIf="sidebarOpen" class="ml-2 whitespace-nowrap text-xs font-bold">COORDINADORES</span>
            </a>
          </li>

          <li *ngIf="usuarioService.tieneRol(['COORDINADOR', 'SUPERADMINISTRADOR'])">
            <a [routerLink]="['/inicio/generar-horario']" routerLinkActive="bg-verde-claro text-white"
              [routerLinkActiveOptions]="{ exact: true }" class="flex items-center px-3 py-2 ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" [ngClass]="{ 'text-white': isActive('/inicio/generar-horario') }">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
              <span *ngIf="sidebarOpen" class="ml-2 whitespace-nowrap text-xs font-bold">GENERAR HORARIOS</span>
            </a>
          </li>


          <li *ngIf="usuarioService.tieneRol(['SUPERADMINISTRADOR', 'COORDINADOR'])">
            <a [routerLink]="['/inicio/generar-reporte']" routerLinkActive="bg-verde-claro text-white"
              [routerLinkActiveOptions]="{ exact: true }" class="flex items-center px-3 py-2 ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
              </svg>
              <span *ngIf="sidebarOpen" class="ml-2 whitespace-nowrap text-xs font-bold">GENERAR REPORTES</span>
            </a>
          </li>

          <li *ngIf="usuarioService.tieneRol(['COORDINADOR','SUPERADMINISTRADOR'])">
            <a [routerLink]="['/inicio/ver-horario']" routerLinkActive="bg-verde-claro text-white"
              [routerLinkActiveOptions]="{ exact: true }" class="flex items-center px-3 py-2 ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
              </svg>
              <span *ngIf="sidebarOpen" class="ml-2 whitespace-nowrap text-xs font-bold">VER HORARIOS</span>
            </a>
          </li>

          <li *ngIf="usuarioService.tieneRol(['SUPERADMINISTRADOR','COORDINADOR'])">
            <a [routerLink]="['/inicio/ver-horario-docente']" routerLinkActive="bg-verde-claro text-white"
              [routerLinkActiveOptions]="{ exact: true }" class="flex items-center px-3 py-2 ">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
              <span *ngIf="sidebarOpen" class="ml-2 whitespace-nowrap text-xs font-bold">VER HORARIOS DOCENTES</span>
            </a>
          </li>

          <li *ngIf="usuarioService.tieneRol(['ESTUDIANTE'])">
            <a [routerLink]="['/inicio/mi-horario']" routerLinkActive="bg-verde-claro text-white"
              [routerLinkActiveOptions]="{ exact: true }" class="flex items-center px-3 py-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
              <span *ngIf="sidebarOpen" class="ml-2 whitespace-nowrap text-xs font-bold">MI HORARIO</span>
            </a>
          </li>
          <li *ngIf="usuarioService.tieneRol(['DOCENTE'])">
            <a [routerLink]="['/inicio/docente-horario']" routerLinkActive="bg-verde-claro text-white"
              [routerLinkActiveOptions]="{ exact: true }" class="flex items-center px-3 py-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 flex-shrink-0" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 10h16M4 14h10M4 18h10" />
              </svg>
              <span *ngIf="sidebarOpen" class="ml-2 whitespace-nowrap text-xs font-bold">HORARIO DOCENTE</span>
            </a>
          </li>


        </ul>
      </nav>
    </aside>

    <!-- Contenido principal -->
    <main class="flex-1 p-4">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- Footer -->
  <footer class="bg-white py-2 text-center text-xs text-gray-600 border-t">
    <p>Instituto Superior Tecnológico "Los Andes" ISILA - Sistema de Gestión de Horarios</p>
    <p>© 2025 - {{ObtenerAnioActual}} Todos los derechos reservados</p>
  </footer>
</div>
